__pycache__
.mypy*
.venv
**.env
.deepeval
nb.py
.env.exp
.env.bak
mlruns
**workbook.ipynb
.deepeval
.deepeval.*
docs
*.iml
.idea
playground
**/*/.ipynb_checkpoints
.vscode
.copilot-instructions.md
tmp
